transformers==4.37.2
sentence-transformers==2.6.1
torch>=1.13.1
accelerate==0.26.1
langchain
langchain-community
faiss-cpu
openai
pandas
spacy
langchain-huggingface
langchain-openai
requests
beautifulsoup4