transformers
sentence-transformers
torch>=1.13.1
accelerate==0.26.1
langchain
langchain-community
langchain-huggingface
langchain-openai
faiss-cpu
openai
pandas
spacy
requests
beautifulsoup4
tiktoken
streamlit
rank_bm25
